<!-- banner -->
<section class="banner-section">
  <!-- <img class="img-fluid d-none d-lg-flex banner-bg1" src="assets/img/bg/bg-15.png" alt="img" /> -->
  <!-- <img class="img-fluid d-none d-lg-flex banner-bg2" src="assets/img/bg/bg-16.png" alt="img" /> -->
  <!-- <img class="img-fluid d-none d-lg-flex banner-bg3" src="assets/img/bg/bg-17.png" alt="img" /> -->
  <!-- <img class="img-fluid d-none d-lg-flex banner-bg4" src="assets/img/bg/bg-18.png" alt="img" /> -->
  <div class="container" style="margin-left: 50px;margin-top:10px;">
    <div class="row align-items-center justify-content-between">
      <div class="col-xl-7 col-lg-7">
        <div class="banner-content pe-xxl-5" style="margin-left: -15px !important;">
          <span class="hero-title">avec Pyramide</span>
          <h1 class="mb-4 text-white"> Formez vos talents
             <span>Transformez</span> votre 
            <span>entreprise</span> 
          </h1>
          <p class="fs-lg text-center text-md-start pb-2 pb-md-3 mb-4">
           Développez les compétences qui font avancer votre entreprise
          </p>
          <form class="banner-search" (ngSubmit)="onSubmit()">
            <div class="dropdown">
              <a class="hero-dropdown" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                Sélectionner une Catégorie <i class="isax isax-arrow-down5 fs-12"></i>
              </a>
              <ul class="dropdown-menu p-1">
                <li><a class="dropdown-item" href="javascript:void(0);">Management</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Développement</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Marketing Digital</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Ressources Humaines</a></li>
              </ul>
            </div>
            <input type="text" name="search" class="border-0 form-control p-0"
              placeholder="Rechercher des formations, des formateurs..." />
            <button type="submit" class="btn btn-secondary ms-auto">
              <i class="isax isax-arrow-right-1"></i>
            </button>
          </form>
          <!-- <div class="d-flex align-items-center gap-4 justify-content-lg-between justify-content-center flex-wrap">
            <div class="counter-item">
              <div class="counter-icon flex-shrink-0">
                <img src="assets/img/icons/icon-32.svg" alt="img" />
              </div>
              <div class="count-content">
                <h5 class="text-purple">
                  <span class="count-digit">500</span>+
                </h5>
                <p>Formations Disponibles</p>
              </div>
            </div>
            <div class="counter-item">
              <div class="counter-icon flex-shrink-0">
                <img src="assets/img/icons/icon-33.svg" alt="img" />
              </div>
              <div class="count-content">
                <h5 class="text-skyblue">
                  <span class="count-digit">200</span>+
                </h5>
                <p>Entreprises Partenaires</p>
              </div>
            </div>
            <div class="counter-item">
              <div class="counter-icon flex-shrink-0">
                <img src="assets/img/icons/icon-34.svg" alt="img" />
              </div>
              <div class="count-content">
                <h5 class="text-success">
                  <span class="count-digit">150</span>+
                </h5>
                <p>Formateurs Certifiés</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="col-xl-4 col-lg-5">
        <div class="banner-image pe-0">
          <div class="swiper swiper-slider-banner w-auto">
            <div class="swiper-wrapper">
              <div class="swiper swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress" >
                <div class="swiper-wrapper">
                  <div class="swiper-slide ng-star-inserted swiper-slide-visible swiper-slide-active" style="z-index: 3; transform: translate3d(0px, 0px, 0px) rotateZ(0deg) scale(1);">
                    <div class="swiper-slide">
                      <div class="course-item-two course-item mb-0">
                        <div class="course-img">
                          <img src="assets/img/course/course-22.jpg" alt="img" class="img-fluid" />
                          <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                            <a href="javascript:void(0);" class="fav-icon" [ngClass]="{'selected':isSelected[1]}" (click)="iconSelect(1)">
                              <i class="isax isax-heart"></i>
                            </a>
                            <a href="javascript:void(0);" class="brand-icon ms-auto">
                              <img src="assets/img/icons/course-01.svg" alt="img" class="img-fluid" />
                            </a>
                          </div>
                        </div>
                        <div class="course-content">
                          <div class="d-flex justify-content-between mb-2">
                            <div class="d-flex align-items-center">
                              <a href="javascript:void(0);" class="avatar avatar-sm">
                                <img src="assets/img/user/user-50.jpg" alt="img"
                                  class="img-fluid avatar avatar-sm rounded-circle" />
                              </a>
                              <div class="ms-2">
                                <a href="javascript:void(0);" class="link-default fs-14">Amadou Diallo</a>
                              </div>
                            </div>
                            <span
                              class="badge badge-light rounded-pill bg-light d-inline-flex align-items-center fs-13 fw-medium">
                              Management
                            </span>
                          </div>
                          <h6 class="mb-2">
                            <a [routerLink]="routes.courseDetails">Formation Complète en Gestion d'Entreprise</a>
                          </h6>
                          <p class="d-flex align-items-center mb-3">
                            <i class="ti ti-star-filled text-warning me-2"></i>
                            4.8
                          </p>
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="text-secondary fs-16 fw-semi-bold mb-0">
                             75.000 FCFA
                            </h6>
                            <a [routerLink]="routes.cart" class="btn btn-dark btn-sm d-inline-flex align-items-center">Ajouter<i
                                class="isax isax-arrow-right-3 ms-1"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide ng-star-inserted swiper-slide-visible swiper-slide-next" style="z-index: 2; transform: translate3d(calc(7.25032% - 321px), 0px, -100.005px) rotateZ(2.0001deg) scale(1);">
                    <div class="swiper-slide">
                      <div class="course-item-two course-item mb-0">
                        <div class="course-img">
                          <img src="assets/img/course/course-25.jpg" alt="img" class="img-fluid" />
                          <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                            <a href="javascript:void(0);" class="fav-icon" >
                              <i class="isax isax-heart"></i>
                            </a>
                            <a href="javascript:void(0);" class="brand-icon ms-auto">
                              <img src="assets/img/icons/course-01.svg" alt="img" class="img-fluid" />
                            </a>
                          </div>
                        </div>
                        <div class="course-content">
                          <div class="d-flex justify-content-between mb-2">
                            <div class="d-flex align-items-center">
                              <a href="javascript:void(0);" class="avatar avatar-sm">
                                <img src="assets/img/user/user-50.jpg" alt="img"
                                  class="img-fluid avatar avatar-sm rounded-circle" />
                              </a>
                              <div class="ms-2">
                                <a href="javascript:void(0);" class="link-default fs-14">Fatou Ndiaye</a>
                              </div>
                            </div>
                            <span
                              class="badge badge-light rounded-pill bg-light d-inline-flex align-items-center fs-13 fw-medium">
                              Marketing
                            </span>
                          </div>
                          <h6 class="mb-2">
                            <a [routerLink]="routes.courseDetails">Marketing Digital pour Entreprises Africaines</a>
                          </h6>
                          <p class="d-flex align-items-center mb-3">
                            <i class="ti ti-star-filled text-warning me-2"></i>
                            4.9
                          </p>
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="text-secondary fs-16 fw-semi-bold mb-0">
                             65.000 FCFA
                            </h6>
                            <a [routerLink]="routes.cart" class="btn btn-dark btn-sm d-inline-flex align-items-center">Ajouter<i
                                class="isax isax-arrow-right-3 ms-1"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide " style="z-index: 1; transform: translate3d(calc(13.0005% - 642px), 0px, -200.01px) rotateZ(4.0002deg) scale(1); transition-duration: 0ms;">
                    <div class="swiper-slide">
                      <div class="course-item-two course-item mb-0">
                        <div class="course-img">
                          <img src="assets/img/course/course-23.jpg" alt="img" class="img-fluid" />
                          <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                            <a href="javascript:void(0);" class="fav-icon" >
                              <i class="isax isax-heart"></i>
                            </a>
                            <a href="javascript:void(0);" class="brand-icon ms-auto">
                              <img src="assets/img/icons/course-01.svg" alt="img" class="img-fluid" />
                            </a>
                          </div>
                        </div>
                        <div class="course-content">
                          <div class="d-flex justify-content-between mb-2">
                            <div class="d-flex align-items-center">
                              <a href="javascript:void(0);" class="avatar avatar-sm">
                                <img src="assets/img/user/user-50.jpg" alt="img"
                                  class="img-fluid avatar avatar-sm rounded-circle" />
                              </a>
                              <div class="ms-2">
                                <a href="javascript:void(0);" class="link-default fs-14">Koffi Mensah</a>
                              </div>
                            </div>
                            <span
                              class="badge badge-light rounded-pill bg-light d-inline-flex align-items-center fs-13 fw-medium">
                              Finance
                            </span>
                          </div>
                          <h6 class="mb-2">
                            <a [routerLink]="routes.courseDetails">Gestion Financière pour PME</a>
                          </h6>
                          <p class="d-flex align-items-center mb-3">
                            <i class="ti ti-star-filled text-warning me-2"></i>
                            4.7
                          </p>
                          <div class="d-flex align-items-center justify-content-between">
                            <h6 class="text-secondary fs-16 fw-semi-bold mb-0">
                             80.000 FCFA
                            </h6>
                            <a [routerLink]="routes.cart" class="btn btn-dark btn-sm d-inline-flex align-items-center">Ajouter<i
                                class="isax isax-arrow-right-3 ms-1"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- banner -->

<!-- benefits -->
<section class="benefit-section">
  <div class="container">
    <div class="section-header text-center">
      <span class="fw-medium text-secondary text-decoration-underline mb-2 d-inline-block">Nos Avantages</span>
      <h2>Suivez la progression et les performances par employé, service ou entreprise</h2>
      <p>
        La bonne formation, guidée par un expert, peut vous fournir des connaissances inestimables 
        et des compétences pratiques pour réussir.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <div class="position-absolute top-0 end-0 mt-n3 me-n4">
              <img src="./assets/img/shapes/bg-1.png" alt="img" />
            </div>
            <div class="p-4 rounded-pill bg-primary-transparent d-inline-flex">
              <i class="isax isax-book-1 fs-24"></i>
            </div>
            <h5 class="mt-3 mb-1">🟢 Flexibilité & Organisation</h5>
            <p>
              Créez des sessions adaptées à vos besoins métier
              Formations en présentiel, e-learning ou hybrides
              Affectation simple des employés aux session
              Un système flexible qui s’adapte à votre organisation
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <div class="position-absolute top-0 end-0 mt-n3 me-n4">
              <img src="assets/img/shapes/bg-2.png" alt="img" />
            </div>
            <div class="p-4 rounded-pill bg-secondary-transparent d-inline-flex">
              <i class="isax isax-bookmark5 fs-24"></i>
            </div>
            <h5 class="mt-3 mb-1">🟠 Formateurs & Consultants</h5>
            <p>
                Collaborez facilement avec des formateurs internes ou externes
                Un même formateur peut intervenir dans plusieurs entreprises
                Gestion claire des sessions, participants et évaluations
                Un espace dédié pour les formateurs
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <div class="position-absolute top-0 end-0 mt-n3 me-n4">
              <img src="assets/img/shapes/bg-3.png" alt="img" />
            </div>
            <div class="p-4 rounded-pill bg-skyblue-transparent d-inline-flex">
              <i class="isax isax-chart-26 fs-24"></i>
            </div>
            <h5 class="mt-3 mb-1">🟣 Expérience Employé</h5>
            <p>
              Une interface simple et intuitive pour vos collaborateurs
              Accès rapide aux formations et aux certificats
              Inscription facile et suivi personnalisé
              Valorisez les compétences acquises
            </p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <div class="position-absolute top-0 end-0 mt-n3 me-n4">
              <img src="assets/img/shapes/bg-3.png" alt="img" />
            </div>
            <div class="p-4 rounded-pill bg-primary-transparent d-inline-flex">
              <i class="isax isax-book-1 fs-24"></i>
            </div>
            <h5 class="mt-3 mb-1">🔴 Certification & Traçabilité</h5>
            <p>
              Certificats sécurisés et vérifiables
              Historique complet des formations suivies
              Traçabilité conforme aux exigences réglementaires
              Gestion des certificats avec dates d’expiration
            </p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <div class="position-absolute top-0 end-0 mt-n3 me-n4">
              <img src="assets/img/shapes/bg-3.png" alt="img" />
            </div>
            <div class="p-4 rounded-pill bg-secondary-transparent d-inline-flex">
              <i class="isax isax-bookmark5 fs-24"></i>
            </div>
            <h5 class="mt-3 mb-1">🟡 Sécurité & Fiabilité</h5>
            <p>
              Données sécurisées et cloisonnées par entreprise
              Gestion fine des rôles et des permissions
              Respect des bonnes pratiques de sécurité
              Plateforme fiable et évolutive
            </p>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body p-4">
            <div class="position-absolute top-0 end-0 mt-n3 me-n4">
              <img src="assets/img/shapes/bg-3.png" alt="img" />
            </div>
            <div class="p-4 rounded-pill bg-skyblue-transparent d-inline-flex">
              <i class="isax isax-clock-1 fs-24"></i>
            </div>
            <h5 class="mt-3 mb-1">⚡ Gain de temps & Performance</h5>
            <p>
              Réduisez la charge administrative des RH
              Automatisez les inscriptions et la génération des certificats
              Accélérez la montée en compétences de vos équipes
              Concentrez-vous sur l’essentiel : la performance
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- benefits -->

<!-- institutions -->
<section class="client-section">
  <div class="container">
    <h6 class="fw-medium text-center mb-4">
      Approuvé par
      <span class="text-decoration-underline text-secondary">200+</span>
      Entreprises à Travers l'Afrique
    </h6>
    <div class="institutions-slider lazy slider">
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/01.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/02.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/03.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/04.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/05.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/06.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/07.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/02.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/03.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/04.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/05.svg" alt="img" />
        </div>
        <div class="institutions-items p-1" ngxSlickItem>
          <img class="img-fluid" src="./assets/img/client/06.svg" alt="img" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
<!-- institutions -->

<!-- top courses -->
<section class="top-courses-sec">
  <img class="top-courses-bg" src="./assets/img/bg/bg-20.png" alt="img" />
  <div class="container">
    <div class="section-header text-center">
      <span class="fw-medium text-secondary text-decoration-underline mb-2 d-inline-block">Nos Catégories</span>
      <h2>Formations & Catégories </h2>
      <p>
       Catégoriser vos formations pour une navigation facile et une meilleure organisation.
      </p>
    </div>
    <div class="top-courses-slider lazy">
      <ngx-slick-carousel #slickModal="slick-carousel" [config]="topCourseSlider">
        <div ngxSlickItem>
          <div class="categories-item categories-item-three mb-0">
            <img class="mx-auto" src="assets/img/category/icons/icon-6.svg" alt="img" />
            <h6 class="title">
              <a [routerLink]="routes.courseCategory">Management</a>
            </h6>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="categories-item categories-item-three mb-0">
            <img class="mx-auto" src="assets/img/category/icons/icon-7.svg" alt="img" />
            <h6 class="title">
              <a [routerLink]="routes.courseCategory">Ressources Humaines</a>
            </h6>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="categories-item categories-item-three mb-0">
            <img class="mx-auto" src="assets/img/category/icons/icon-8.svg" alt="img" />
            <h6 class="title">
              <a [routerLink]="routes.courseCategory">Marketing Digital</a>
            </h6>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="categories-item categories-item-three mb-0">
            <img class="mx-auto" src="assets/img/category/icons/icon-9.svg" alt="img" />
            <h6 class="title">
              <a [routerLink]="routes.courseCategory">Finance & Comptabilité</a>
            </h6>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="categories-item categories-item-three mb-0">
            <img class="mx-auto" src="assets/img/category/icons/icon-10.svg" alt="img" />
            <h6 class="title">
              <a [routerLink]="routes.courseCategory">Leadership</a>
            </h6>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="categories-item categories-item-three mb-0">
            <img class="mx-auto" src="assets/img/category/icons/icon-11.svg" alt="img" />
            <h6 class="title">
              <a [routerLink]="routes.courseCategory">Développement Web</a>
            </h6>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <a [routerLink]="routes.courseCategory" class="btn btn-primary btn-md">Voir Toutes les Catégories</a>
  </div>
</section>
<!-- /top courses -->

<!-- trust -->
<section class="trust-sec">
  <div class="container">
    <div class="video-showcase">
      <img src="assets/img/feature/feature-1.jpg" class="img-fluid w-100 rounded-2" alt="banner" />
      <div class="video-play">
        <lightgallery [settings]="settings" [onInit]="onInit" size="1400-933">
          <a src="https://www.youtube.com/embed/1trvO6dqQUI"><i class="isax isax-play5"></i></a>
      </lightgallery>
      </div>
    </div>
    <div class="trust-content">
      <img src="./assets/img/bg/bg-19.png" alt="img" class="w-100 trust-bg" />
      <div class="row justify-content-between">
        <div class="col-md-4">
          <h4>
            Approuvé par 5.000+ entreprises et employés satisfaits depuis 2020
          </h4>
          <div class="d-flex align-items-center flex-wrap mt-5 gap-2">
            <a [routerLink]="routes.login" class="btn btn-secondary">S'inscrire comme Employé</a>
            <a [routerLink]="routes.becomeAnExpert" class="btn btn-dark">Devenir Formateur</a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <h4 class="text-white mb-2">4.9/5</h4>
              <h5 class="text-white mb-2">Note de Satisfaction</h5>
              <p class="text-white mb-5">
                Un taux de satisfaction exceptionnel qui témoigne de la qualité de nos formations.
              </p>
            </div>
            <div class="col-md-6">
              <h4 class="text-white mb-2">5000+</h4>
              <h5 class="text-white mb-2">Employés Satisfaits en Afrique</h5>
              <p class="text-white mb-5">
                Des milliers de professionnels africains ont transformé leur carrière grâce à Pyramide.
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center bg-white user-goal p-2">
            <div class="avatar avatar-lg flex-shrink-0">
              <img class="rounded-pill" src="./assets/img/user/user-28.jpg" alt="img" />
            </div>
            <p class="text-gray-9 mb-0">
              "Toutes les formations sont incroyablement utiles pour atteindre vos objectifs professionnels"
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- how it works -->
<div class="how-it-works-sec-two">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="me-5" data-aos="fade-up">
          <img src="assets/img/feature/how-it-work.jpg" class="img-fluid rounded-5" alt="img" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="how-it-works-content aos" data-aos="fade-up">
          <div class="section-header">
            <span class="fw-medium text-secondary text-decoration-underline mb-2 d-inline-block">Comment ça marche</span>
            <h2 class="mb-1">Comment ça marche ?</h2>
            <p>
              Déployez la formation en entreprise en toute simplicité
            </p>
          </div>
          <div class="d-flex align-items-center works-items">
            <span class="count">01</span>
            <div>
              <h5 class="mb-1">Créez vos sessions de formation</h5>
              <p>
                Une fois sur la page d'accueil du site, recherchez le bouton S'inscrire, Enregistrer ou Créer un compte.
                Register, or Create Account button.
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center works-items">
            <span class="count">02</span>
            <div>
              <h5 class="mb-1">Affectez vos collaborateurs</h5>
              <p>
                After verifying your email, you may be asked to complete
                additional profile information.
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center works-items">
            <span class="count">03</span>
            <div>
              <h5 class="mb-1">Suivez la progression et certifiez les compétences</h5>
              <p>
                Depending on the website, after registration, you might be able
                to browse and choose courses or programs to enroll in.
              </p>
            </div>
          </div>
          
          <!-- <div class="d-flex align-items-center works-items mb-0 pb-0 border-0">
            <span class="count">04</span>
            <div>
              <h5 class="mb-1">Access Your Account</h5>
              <p>
                Should have access to the website’s features, such as enrolling
                in courses, materials, or tracking progress.
              </p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<section class="about-section-two pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
            <div class="p-3 p-sm-4 position-relative">
                <div class="position-absolute top-0 start-0 z-n1">
                    <img src="assets/img/shapes/shape-1.svg" alt="img">
                </div>
                <div class="position-absolute bottom-0 end-0 z-n1">
                    <img src="assets/img/shapes/shape-1.svg" alt="img">
                </div>
                <div class="position-absolute bottom-0 start-0 mb-md-5 ms-md-n5">
                    <img src="assets/img/icons/icon-1.svg" alt="img">
                </div>
                <img class="img-fluid img-radius" src="./assets/img/about/about-2.svg" alt="img">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-0 ps-lg-2 pt-4 pt-lg-0 ps-xl-5">
                    <div class="section-header">
                        <span class="fw-medium text-secondary text-decoration-underline mb-2 d-inline-block">A propos</span>
                        <h2>A propos de nous</h2>
                        <p>Nous accompagnons les entreprises dans la structuration, le suivi et la certification des formations professionnelles grâce à une plateforme digitale pensée pour les enjeux RH.</p>
                    </div>
                    <div class="d-flex align-items-center about-us-banner">
                        <div>
                            <span class="bg-primary-transparent rounded-3 p-2 about-icon d-flex justify-content-center align-items-center">
                                <i class="isax isax-book-1 fs-24"></i>
                            </span>
                        </div>
                        <div class="ps-3">
                            <h6 class="mb-2">Apprenez de n'importe où</h6>
                            <p>L'apprentissage de n'importe où est devenu un aspect transformateur de l'éducation moderne, permettant aux individus.</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center about-us-banner">
                        <div>
                            <span class="bg-secondary-transparent rounded-3 p-2 about-icon d-flex justify-content-center align-items-center">
                                <i class="isax isax-bookmark5 fs-24"></i>
                            </span>
                        </div>
                        <div class="ps-3">
                            <h6 class="mb-2">Mentors Experts</h6>
                            <p>Les mentors experts sont des atouts inestimables dans tout domaine, fournissant des conseils et des connaissances expérimentées.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- how it works -->
<!-- /trust -->

<!-- Les autres sections continuent avec la même traduction... -->
<!-- Je continue si vous le souhaitez -->

  <app-footer></app-footer>